@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: black;
}

.main {
    background-image: url("assests/images/bg.jpg");
    height: 644px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0%;
}

nav {
    display: flex;
    justify-content: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 100px;
}

nav img {
    color: red;
    width: 134px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100%-100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;

    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0 30px;

}

.hero>:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero>:nth-child(2) {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero>:nth-child(3) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero>:nth-child(4) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 11px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    background-color: rgba(248, 243, 243, 0.021);
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.btn-red {
    color: white;
    background: red;
    padding: 5px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    color: white;
    background: red;

}

.main input {
    padding: 5px 24px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    font-weight: 900;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}


.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox {
    color: white;
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
    transition: all 1s ease-out;

}

.faqbox svg {
    filter: invert(1);
}

.last {
    color: white;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }




}